<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>ListHub Login</title>
    <link rel="stylesheet" href="css/flexi-background.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/home.css" type="text/css" media="screen" />
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/bootstrapCore.css" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:700" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <script src="js/flexi-background.js" type="text/javascript" charset="utf-8"></script>

<!-- Navigation Bar Start -->
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="images/listhub-white.png" class="logo" alt="yourlogo" />

                    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>  
                        <li>
                            <a class="btn btn-lg" href="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login/Sign-Up</a>
                        </li>
                        <li>
                            <a class="btn btn-lg" href="/groups"><span class="glyphicon glyphicon-th-list"></span> Create-List</a>
                        </li>
                        <li>
                            <a class="btn btn-lg" href="/mygroups"><span class="glyphicon glyphicon-ok-sign"></span> Manage-List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navigation Bar End -->

<!-- Login Box Start -->
<div id="box">
  <img src="images/listhub-white.png" class="logo-big" alt="yourlogo" />
  <h1>Member Login</h1>
  <form method="POST" action="/login" class="form-signin">
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    
    <input id="inputUsername" type="text" name="username" class="form-control" placeholder="Username" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Username':this.value;" value="Username" />
    <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Password':this.value;" value="Password">
    
    <input id="login" type="submit" name="login" value="Log In" />
    <input id="signup" type="button" name="signup" data-toggle="modal" data-target="#exampleModal" value = "Sign Up" />
  </form>
</div>
<!-- Login Box End -->
<!-- <div class="container">
  <form method="POST" action="/login" class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2>
    
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
</div> -->




<div class="container">
  <form method="POST" action="/signup" class="form-signin">
    <h2 class="form-signin-heading">Create an account</h2>
    
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    

    <label for="inputPassword" class="sr-only">Repeat Password</label>
    <input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="Repeat Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="exampleModal">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form method="POST" action="/signup" class="form-signin" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="inputUserName" name="username" class="form-control">UserName</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword" class="sr-only">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword2" class="sr-only">Repeat Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="Repeat Password" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                    </div>
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
   <div class="container">
       <p class="text-muted">ListHub Project 2 - SMU coding boot camp: &nbsp;Front end: Aaron &amp; Josh - Backend: Sarah &amp; Fatima</p>
   </div>
</footer>
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap/bootstrapCore.js"></script>

<script type="text/javascript" src="js/login.js"></script>  

</html>